// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.
$roboto: 'Roboto', sans-serif;

$header-bg: #2C3E50;
$white: #FFF;
$red: #ff4848;
$bgc: rgba(0,0,0,0.8);
$welcome: #004956;
$border: 20px solid #1c1d1e;
$border2: 10px solid #9ca3a3;
$black: #000;
$aside: #004966;
